.xiang-control {
    margin: 0 auto;
}

.xiang-control .bar-top-1 {
    background-color: var(--v1-clr-a1);
    height: 96px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.xiang-control .bar-top-1 .tit {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    left: 24px;
    margin: 0;
    position: absolute;
    text-decoration: none;
    top: 24px;
}

.xiang-control .bar-top-1 .account {
    background-color: #000;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    position: absolute;
    padding: 0 48px;
    right: 24px;
    top: 12px;
}

.xiang-control .bar-top-1 .nav-con {
    margin: 0 auto;
    padding-left: 48px;
    padding-top: 48px;
    width: 952px;
    bottom: 0;
}

.xiang-control .bar-top-1 .nav-con .nav-li {
    background-color: var(--v1-clr-b1);
    border-radius: 5px 5px 0 0;
    color: #fff;
    display: block;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-right: 24px;
    text-align: center;
    text-decoration: none;
    width: 144px;
}
.xiang-control .bar-top-1 .nav-con .nav-li.sel {
    background-color: var(--v1-clr-b2);
    font-weight: bold;
}

.xiang-control .bar-top-2 {
    background-color: var(--v1-clr-a1);
    border-radius: 0 0 5px 5px;
    height: 96px;
    margin: 0 auto;
    width: 100%;
}

.xiang-control .bar-top-2 .tit {
    color: #fff;
    font-size: 26px;
    font-weight: bolder;
    padding: 24px 0 0 24px;
}
.xiang-control .bar-top-2 .tit a,
.xiang-control .bar-top-2 .tit p {
    margin: 0;
    padding: 0;
}

