:root{
    --v1-clr-a1: #336699;
    --v1-clr-a2: #0066CC;
    --v1-clr-a3: #00CCFF;
    --v1-clr-b1: #009999;
    --v1-clr-b2: #00CC99;
    --v1-clr-b3: #33FFCC;
    --v1-clr-c1: #FF9966;
    --v1-clr-c2: #FFCC99;
    --v1-clr-d1: #FF6666;
    --v1-clr-d2: #FF3366;
    --v1-clr-e1: #999999;
    --v1-clr-e2: #aaaaaa;
    --v1-clr-e3: #eeeeee;
    --v1-clr-f1: #666666;
    --v1-clr-f2: #333333;
}
