.xiang-control {
}

/* block control*/
.xiang-control .btn-1,
.xiang-control .btn-2,
.xiang-control .btn-3,
.xiang-control .btn-4,
.xiang-control .btn-5,
.xiang-control .btn-6 {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.xiang-control .btn-1 {
    background-color: var(--v1-clr-a2);
    border: 0;
    color: #fff;
    width: 114px;
}

.xiang-control .btn-1:hover {
    background-color: var(--v1-clr-d2);
}

.xiang-control .btn-2,
.xiang-control .btn-4,
.xiang-control .btn-5,
.xiang-control .btn-6 {
    background-color: var(--v1-clr-b2);
    border: solid 1px var(--v1-clr-a2);
    color: #fff;
    font-size: 16px;
    width: 297px;
}
.xiang-control .btn-2:before,
.xiang-control .btn-4:before,
.xiang-control .btn-5:before {
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: var(--v1-clr-b1);
    content: '👁';
    float: left;
    font-size: 24px;
    height: 48px;
    width: 48px;
}
.xiang-control .btn-2:hover,
.xiang-control .btn-4:hover,
.xiang-control .btn-5:hover {
    box-shadow: 0 0 5px var(--v1-clr-a2);
    text-shadow: 0 0 5px var(--v1-clr-a2);
}

.xiang-control .btn-3 {
    background-color: #fff;
    border: dashed 2px var(--v1-clr-e2);
    color: var(--v1-clr-e2);
    width: 614px;
}
.xiang-control .btn-3:before {
    content: '+';
    margin-right: 24px;
}
.xiang-control .btn-3:hover {
    background-color: var(--v1-clr-e3);
    color: #999;
}

.xiang-control .btn-4:before {
    content: '💾';
}

.xiang-control .btn-5:before {
    content: '📇';
}

.xiang-control .btn-6 {
    border: none;
}

.xiang-control .btn-6:hover {
    box-shadow: 0 0 5px var(--v1-clr-b1);
    text-shadow: 0 0 5px var(--v1-clr-b1);
}