.xiang-control {

}

/* block */
.xiang-control .txt-1,
.xiang-control .txt-2,
.xiang-control .sel-1 {
    border: solid 1px var(--v1-clr-e1);
    border-radius: 5px;
    color: var(--v1-clr-f1);
    display: block;
    height: 48px;
    outline: none;
    padding: 0 12px;
    width: 593px;
}

.xiang-control .txt-1,
.xiang-control .txt-2 {
}

.xiang-control .txt-1:focus,
.xiang-control .txt-2:focus {
    border: solid 1px var(--v1-clr-a2);
    box-shadow: 0 0 2px var(--v1-clr-a3);
    color: #000;
}

.xiang-control .txt-2 {
    background-color: var(--v1-clr-e3);
    border: 0;
    border-bottom: solid 1px var(--v1-clr-a2);
    border-radius: 0 0 5px 5px;
    font-size: 18px;
    font-weight: bold;
    width: 976px;
}
.xiang-control .txt-2:focus {
    border-bottom: solid 2px var(--v1-clr-a2);
    height: 46px;
    width: 974px;
}

.xiang-control .sel-1 {
    cursor: pointer;
    width: 618px;
}

.xiang-control .radio-box-1 {
    display: inline-block;
    width: 904px;
}

.xiang-control .radio-box-1 .rb-1-tit {
    text-align: left;
    font-size: 18px;
}
.xiang-control .radio-box-1 .rb-1-tit a {
    text-align: left;
}
.xiang-control .radio-box-1 .rb-1-con {

}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li {
    cursor: pointer;
    height: 48px;
    margin-top: 48px;
}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li:hover .rb-1-left .ico-1-green,
.xiang-control .radio-box-1 .rb-1-con .rb-1-li .rb-1-left .ico-1-green.sel {
    background-color: var(--v1-clr-b2);
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px var(--v1-clr-a1);
}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li:active .rb-1-left .ico-1-green {
    box-shadow: 0 0 7px var(--v1-clr-b2);
    border-color: var(--v1-clr-b3);
}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li:hover .rb-1-left .ico-1-amber,
.xiang-control .radio-box-1 .rb-1-con .rb-1-li .rb-1-left .ico-1-amber.sel {
    background-color: var(--v1-clr-c1);
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px var(--v1-clr-a1);
}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li:active .rb-1-left .ico-1-amber {
    box-shadow: 0 0 7px var(--v1-clr-c1);
    border-color: var(--v1-clr-c2);
}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li:hover .rb-1-left .ico-1-red,
.xiang-control .radio-box-1 .rb-1-con .rb-1-li .rb-1-left .ico-1-red.sel {
    background-color: var(--v1-clr-d2);
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px var(--v1-clr-a1);
}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li:active .rb-1-left .ico-1-red {
    box-shadow: 0 0 7px var(--v1-clr-d2);
    border-color: var(--v1-clr-d1);
}

.xiang-control .radio-box-1 .rb-1-con .rb-1-li .rb-1-left {
    float: left;
    margin-left: 48px;
}
.xiang-control .radio-box-1 .rb-1-con .rb-1-li .rb-1-right {
    float: left;
    line-height: 48px;
    margin-left: 48px;
    width: 698px;
}












